.rectangle1{
    background-color: #29436e;
    margin: 2%;
    overflow: hidden;
    border-radius: .5rem;
    padding: 2%;
}

.col{
    text-align: center;
}

.caja{
    overflow: hidden;
    display: flex;
    background-color: white;
    border-radius: .3rem;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

.caja>.titulo{
    padding: 10px;
    color: #29436e;
    text-align: start;
    font-size: x-large;
    flex: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.caja>.campo{
    padding: 10px;
    color: black;
    text-align: center;
    font-size: large;
}

.confirmar{
    padding: 10px;
    color: black;
    text-align: end;
    font-size: large;
}

.col-4{
    padding-left: 4%;
    margin-top: 10%;
    text-align: left;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: gray;
    border-radius: 6px;
    border: 2px solid black;
  }
  .boton_personalizado:hover{
    color: black;
    background-color: lightgreen;
  }

  #irlTime {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: xx-large;
    text-align: center;
  }


.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.campo>button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: grey;
	font-family: 'Comfortaa', cursive;
	color: rgba(47, 120, 115);
	font-size: 20px;
	border-radius: 4px;
	box-shadow: inset 1px 1px 1px 1px rgba(47, 120, 115);
	background: rgb(47, 120, 115);
    background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
	background-size: 150%;
	background-position: right;
	transition: 1s;
}

.campo>button:hover {
	background-position: left;
	color: white;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

button:focus {
	outline: none;
}