.rectangle1{
    background-color: lightgray;
    margin: 2%;
    overflow: hidden;
    border-radius: .5rem;
    padding: 2%;
}

.col{
    text-align: center;
}

.caja{
    overflow: hidden;
    background-color: gray;
    border-radius: .3rem;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

.caja>.titulo{
    padding: 10px;
    color: white;
    text-align: start;
    font-size: x-large;
}

.caja>.campo{
    padding: 10px;
    color: black;
    text-align: center;
    font-size: large;
}

.col-4{
    padding-left: 4%;
    margin-top: 10%;
    text-align: left;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: gray;
    border-radius: 6px;
    border: 2px solid black;
  }
  .boton_personalizado:hover{
    color: black;
    background-color: lightgreen;
  }
